<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:property name="link0_name" value="bastidor"/>
    <xacro:property name="link1_name" value="ejez"/>
    <xacro:property name="link2_name" value="ejey"/>
    <xacro:property name="link3_name" value="ejex"/>

    <xacro:property name="joint1_name" value="zaxis"/>
    <xacro:property name="joint2_name" value="yaxis"/>
    <xacro:property name="joint3_name" value="xaxis"/>

</robot>